<div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 primary-text fs-5 fw-bold text-uppercase border-bottom">
        <div>Strategi Imóveis</div> 
    </div>

    <div class="list-group list-group-flush my-3 ">
        <a href="/panel" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">  
            <i class="bi-speedometer me-2"></i> Dashboard
        </a>
        <a href="/clientes" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">  
            <i class="bi-people-fill me-2"></i> Clientes
        </a>
        <a href="/vendidos" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">  
            <i class="bi-wallet-fill me-2"></i> Vendas
        </a>
        <a href="/logout" class="list-group-item list-group-item-action bg-transparent fw-bold text-danger">  
            <i class="bi-box-arrow-right me-2"></i> Sair
        </a>
    </div>
</div>