{% include 'base/head.html' %}

<h1 style="text-align: center;">Adicionar Cliente</h1>
<a href="/clientes">Voltar</a>

<form action="/cliente/add" class="container" method="post">
    <br>
    <div class="row">
        <div class="col-md-6">
            <input type="text" name="nome" id="nome" class="form-control" placeholder="nome">
        </div>

        <div class="col-md-6">
            <input type="text" name="cpf" id="cpf" class="form-control" placeholder="cpf">
        </div>

        <div class="col-md-6">
            <input type="text" name="email" id="email" class="form-control" placeholder="e-mail">
        </div>

        <div class="col-md-6">
            <input type="text" name="telefone" id="telefone" class="form-control" placeholder="telefone">
        </div>
    </div>
    <br>
    <div class="row col-xs-12">
        <button type="submit" class="btn btn-block btn-success">
            Salvar
        </button>
        <br>
    </div>
</form>

{% include 'base/footer.html' %}