{% include 'base/head.html' %}

<h1 style="text-align: center;">Editar {{ cliente.nome }}</h1>
<a href="/clientes">Voltar</a>

<form action="/cliente/update/{{ cliente.id }}" class="container" method="post">
    <br>
    <div class="row">
        <div class="col-md-6">
            <input type="text" name="nome" id="nome" class="form-control" value="{{ cliente.nome.title() }}">
        </div>

        <div class="col-md-6">
            <input type="text" name="cpf" id="cpf" class="form-control" value="{{ cliente.cpf | filterCpf}}">
        </div>

        <div class="col-md-6">
            <input type="text" name="email" id="email" class="form-control" value="{{ cliente.email }}">
        </div>

        <div class="col-md-6">
            <input type="text" name="telefone" id="telefone" class="form-control" value="{{ cliente.telefone | filterPhone}}">
        </div>
    </div>
    <br>
    <div class="row col-xs-12">
        <button type="submit" class="btn btn-block btn-success">
            Salvar
        </button>
        <br>
    </div>
</form>

{% include 'base/footer.html' %}