{% include 'base/head.html' %}

<h1 style="text-align: center;">Editar {{ imovel.nome }}</h1>

<form action="/imovel/edit/{{ imovel.id }}" class="container" method="post">
    <br>
    <div class="row">
        <div class="col-md-6">
            <input type="text" name="nome" id="nome" class="form-control" value="{{ imovel.nome }}">
        </div>

        <div class="col-md-6">
            <input type="text" name="tipo" id="tipo" class="form-control" value="{{ imovel.tipo.nome }}">
        </div>

        <div class="col-md-6">
            <input type="text" name="cep" id="cep" class="form-control" value="{{ imovel.cep }}">
        </div>

        <div class="col-md-6">
            <input type="text" name="bairro" id="bairro" class="form-control" value="{{ imovel.bairro }}">
        </div>

        <div class="col-md-6">
            <input type="text" name="cidade" id="cidade" class="form-control" value="{{ imovel.cidade }}">
        </div>

        <div class="col-md-6">
            <input type="text" name="numero" id="numero" class="form-control" value="{{ imovel.numero }}">
        </div>

        <div class="col-md-6">
            <input type="text" name="complemento" id="complemento" class="form-control" 
                value="{{ imovel.complemento }}">
        </div>

        <div class="col-md-6">
            <input type="text" name="valor" id="valor" class="form-control" 
                value="{{ imovel.valor | filterCurrency}}" onInput="mascaraMoeda(event);">
        </div>

        <div class="col-md-6">
            <input type="text" name="comissao" id="comissao" class="form-control" 
                value="{{ imovel.comissao }}">
        </div>

    </div>
    <br>
    <div class="row col-xs-6">
        <button id="" class="btn btn-primary no-print" onclick="history.back()">Voltar</button>
        <button type="submit" class="btn btn-block btn-success">
            Salvar
        </button>
    </div>
</form>
<script>
    function mascaraMoeda(event) {
        const onlyDigits = event.target.value
            .split("")
            .filter(s => /\d/.test(s))
            .join("")
            .padStart(3, "0")
        const digitsFloat = onlyDigits.slice(0, -2) + "." + onlyDigits.slice(-2)
        event.target.value = maskCurrency(digitsFloat)
    }

    function maskCurrency(valor, locale = 'pt-BR', currency = 'BRL') {
        return new Intl.NumberFormat(locale, {
            style: 'currency',
            currency
        }).format(valor)
    }
</script>
{% include 'base/footer.html' %}